.container{
  max-width: 1140px;
  margin: 0 auto;
}

.box{
    width: 250px;
    height: 270px;
    background: linear-gradient(#1FA77C42, #FFFFFF00);
    border-radius: 30px;
    box-shadow: 0 8px 8px 0 rgba(0,0,0,0.3);
    margin: auto;
}

.box img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.box p{
    text-align: center;
    border-radius: 30px;
    border:solid 2px #1E8B69;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Prompt', sans-serif;
}

.blog-con{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}