.nav-bar{
    width: 100%;
    height: 69px;
    background: linear-gradient(180deg, #1FA77C 27.08%, #1E8B69 97.92%);
    display: flex;
    position: relative;
}
.icon-home{
    position: absolute;
    top: 12px;
    left: 25px;
}
.icon-user{
    position: absolute;
    top: 12px;
    right: 25px;
}
.move-pos{
    top: 17px;
    right: 70px;
}
.bgcustom{
    background: linear-gradient(180deg, #1FA77C 27.08%, #1E8B69 97.92%);
    color: white;
}
