@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai&display=swap');
.contain1{
  font-family: 'Noto Sans Thai', sans-serif;
}
.Name {
  position: relative;
  font-size: 0.88em;
  font-weight: 300;
  padding: 8px 4px;
  width: 100%;
  max-width: 80%;
  border-radius: 20px;
  border: 0;
}
.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  color: white;
}
.fa-home {
  color: white;
}
.fa:hover {
  color: gray;
}
.fa-user-circle {
  color: white;
}
.fa-user {
  align-items: start;
}
.button {
  border-radius: 30px;
}
#search {
  margin-right: 20px;
  margin-left: 20px;
  width: auto;
  border-radius: 100px;
}
.a {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.b {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: #ededed;
}

