@import url(https://fonts.googleapis.com/css2?family=Poppins);

* {
    /* margin: 0;
    padding: 0;
    box-sizing: border-box; */
    font-family: 'Poppins', sans-serif;

}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background:white;
}

.login-box {
    position: relative;
    width: 600px;
    height: 450px;
    background: white;
    border: 2px solid rgb(230, 211, 211);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(15px);
    box-shadow: 0px -1px 26.100000381469727px 5px rgba(0, 0, 0, 0.25); 
}

.text-login {
    font-size: 2em;
    color: black;
    text-align: center;
}

.input-box {
    position: relative;
    width: 350px;
    margin: 30px 0;
    border-bottom: 2px solid white;
}

.logo {
    top:0;
    left: 0;
}

header {
    position: absolute;
    top: 0;
    left:0;
    width: 120%;
    padding: 30px 100px;
    background: rgb(7, 155, 74);
    display: flex;
    height: 90px;
}

.input-box .icon {
    position: absolute;
    right: 8px;
    bottom: -4% ;
    font-size: 1.3em;
    line-height: 50px;
}

.input-box label {
    position: absolute;
    top: 0%;
    left: 10px;
    transform: translateY(-100%);
    color: black;
    pointer-events: none;
    transition: .5s;
    font-size: 1.2em;
}

.input-box input {
    width: 100%;
    height: 50px;
    background: rgb(201, 187, 187);
    border-radius: 30px;
    outline: none;
    text-align:center;
    font-size: 1.2em ;
    color: black;
    border: 1px solid gray;
}


button {
    width: 100%;
    height: 55px;
    border-radius: 40px;
    border: 5px solid rgb(15, 172, 68);
    outline: none;
    color: black;
    cursor: pointer;
    font-size: 1.3em;
    font-weight: 700;
    overflow: hidden;
    position: relative;
    letter-spacing: 2px;

}

button::after{
    content:'';
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgb(15, 172, 68);
    left: 0;
    top: 0;
    z-index: -1;
    transition: .7s;
}

button:hover{
    color:white;
    background:rgb(15, 172, 68);;
}

@media (max-width: 450px) {
    .login-box {
        width: 100%;
        height: 100vh;

    }
}